/**
 * Created by Tadashi on 13/08/2017.
 */
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <table>
            <tr>
                <td>id</td>
                <td>nome</td>
            </tr>
            <tr>
                <td>1</td>
                <td>livro de node js</td>
            </tr>
        </table>
    </body>
</html>
